body {
    background-image: url("../images/WorldMap.jpg");
    background-image opacity: 0.2;
    background: no-repeat;
    background-size:cover;
    z-index:0;
}
#title{
    margin-top: 20%;
    font-size:75px;
    z-index:2; 
}
.buttonwrapper {
    text-align: center;
    font-size: 50px;
}
.button {
    position: absolute;
    top:50%;
    left:45%;
    width:175px;
    z-index:2;
    opacity:1.0;
}
p {
    font-size: 50px;
}